:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}
body{
    background: linear-gradient(to left,
    rgba(2,2,2,0.8),
    rgba(2,2,2,0.8)
    ), url(../multimedia/wallpapers/wallpaper1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.login{
    background-color: white;
    color:black;
    max-width: 400px !important;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 30px;
}

.title
{
    font-size: 40px;
    margin: 0;
}

.bg-dark{
    background:rgb(32,32,32) !important;
  }

input[type=text],input[type=password]
{
    background: transparent !important;
    color: inherit !important;
    outline: none;
}
input:focus{
    transition: all 0.5s ease-out;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
    -webkit-text-fill-color: black !important;
    transition: background-color 5000s ease-in-out 0s;
}

.btn-login 
{
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 2px;
}

footer{
    border-top: 1px solid rgba(180,180,180,0.6);
    font-size: 12px;
    margin-top: 15px;
}

@media (max-width: 600px) {
    .login
    {   
        color:black !important;
        min-width: 100%;
        min-height: 100vh;
        margin: 0 !important;
        border-radius: 0px;
        padding: 20px !important;
        padding-top: 20px !important;
        overflow: hidden;
    }
    .login h1
    {
        color: black !important;
    }
    footer
    {
        opacity: 0;
    }
  }

/*Placeholder*/
.form-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-group>input,
.form-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
}

.form-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    transition: all .1s ease-in-out;
}

.form-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-group input:-ms-input-placeholder {
    color: transparent;
}

.form-group input::-ms-input-placeholder {
    color: transparent;
}

.form-group input::-moz-placeholder {
    color: transparent;
}

.form-group input::placeholder {
    color: transparent;
}

.form-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}
